# ColdBox Environment
APPNAME=My Movie App
ENVIRONMENT=development

# Database Information
DB_CONNECTIONSTRING=jdbc:mysql://movie-app-db:3306/my_movies_db?useUnicode=true&characterEncoding=UTF8&serverTimezone=America/Chicago&maxReconnects=3&useLegacyDatetimeCode=true
DB_CLASS=com.mysql.cj.jdbc.Driver
DB_DRIVER=MySQL
DB_BUNDLENAME=com.mysql.cj
DB_BUNDLEVERSION=8.0.19

OMDB_API_KEY=
JWT_ISSUER=MyMovieApp
JWT_EXP_MIN=20
AUTH_COOKIE_NAME=